---
---

<template id="booking-block-template">
  <button class="booking-block" type="button" data-booking-id>
    <span class="booking-time" data-booking-time></span>
    <strong data-booking-client></strong>
    <span data-booking-service></span>
  </button>
</template>
