---
---

<template id="practitioner-column-template">
  <section class="week-practitioner-column" data-practitioner-column>
    <header>
      <strong data-practitioner-name></strong>
      <span data-practitioner-meta></span>
    </header>
    <div class="week-column-body" data-practitioner-body></div>
  </section>
</template>
